.user-timeline-component {
  padding: 30px;
  display: flex;
  flex-direction: column;

  .timeline-component {
    flex: 1;
  }
  .user-timeline-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .divider {
      border-left: 2px #ccc solid;
      align-self: stretch;
      margin-top: -20px;
      margin-bottom: -20px;
    }
  }
}